/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/Article/page.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
#primg {
    width: 100%; /* Make the image responsive by setting width to 100% */
    max-width: 450px; /* Set a maximum width for larger screens */
    margin: auto;
    margin-top: 8vh;
    border-radius: 8px;
    position: relative;
    margin-bottom: 8vh;
    filter: drop-shadow(3px 3px 4px black);
}

/* Media queries for tablet-sized screens */
@media (max-width: 768px) {
    #primg {
        max-width: 80%; /* Adjust the maximum width for tablet screens */
    }
}

/* Media queries for mobile-sized screens */
@media (max-width: 480px) {
    #primg {
        max-width: 100%; /* Adjust the maximum width for mobile screens */
        margin-top: 4vh; /* Adjust the top margin for mobile screens */
        margin-bottom: 4vh; /* Adjust the bottom margin for mobile screens */
    }
}

#lastdiv{
    height:5px;
    margin-bottom:60px;
}
